<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <h2>
    Time to deliver your quizzes!
  </h2>

  <div class="table">
    <div class="row">
      <div class="cell square">
        <span class="time-value">{{days}}</span>
        <span class="time-label">Days</span>
      </div>
      <div class="cell square">
        <span class="time-value">{{hours}}</span>
        <span class="time-label">Hours</span>
      </div>
      <div class="cell square">
        <span class="time-value">{{minutes}}</span>
        <span class="time-label">Minutes</span>
      </div>
      <div class="cell square">
        <span class="time-value">{{seconds}}</span>
        <span class="time-label">Seconds</span>
      </div>
    </div>
  </div>
</div>

